* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
  }
nav {
    margin-bottom: 10px;
}
.carousel .img {
    max-height: 50px;
    max-width: 50px;
}
.carousel {
    margin: auto;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    height: 50px;
}
.carousel .carousel-item {
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 32px;
    height: 32px;
}

.card  {
    display: none;
}

#img_card{
    margin:auto;
    margin-bottom: 2px;
    
}

.card .card-content .card-title {
margin:auto;
margin-bottom: 2px;
}